<div class="container" data-spy="scroll" data-target="navigation">
	<div class="hero-unit">
	  <h1>Metall2</h1>
	  <p>
	  	Text metadata extraction service from URLs or text content. 
	  </p>
	</div>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list affix" id="navigation">
				<li><%= link_to 'Introduction', '#introduction' %></li>
				<li><%= link_to 'Content extraction', '#content' %></li>
				<li><%= link_to 'Keyword extraction', '#keywords' %></li>
			</ul>
		</div>
		<div class="span9">
			<%= render partial: 'introduction' %>
			<%= render partial: 'content' %>
			<%= render partial: 'keywords' %>
		</div>
	</div>
</div>